/* path for weather icons
https://openweathermap.org/img/wn/02d@4x.png
01d@4x - 14d#4x
01d == day/color mode
o1n == night/monotone
@4x == size (max) 
*/

:root {
    --background-color: rgb(250, 250, 250); /**/
    --dark-text: rgb(30, 30, 30);
    --med-gray: #808080;
    --dark-gray: #343a40;

    --light-border: rgb(219, 219, 219);

    --highlight-yellow: rgb(218, 165, 32);/*goldenrod*/
    --highlight-red: rgb(220, 20, 60);/*crimson*/
}
html {
    min-height: 100%;
}
body {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--dark-text);
    font-size: 1em;

}
#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 1rem 1rem 1rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.bar{
   background: var(--dark-text); 

}

.vert {
    width: 5px;
    height: 100%;
    margin: 0 1em;
}

.hor {
    height: 2rem;
    margin: 3rem 0 2rem 0;
}




.display {
    display: flex;
    flex-flow: column nowrap;
    width: 65%;
}

.city {
    font-size: 5rem;
    margin: 0;
}



.details {
    display: flex;
    flex-flow: column nowrap;
    width: 35%;
}

.hero-temp {
    display: flex;
    flex-flow: row nowrap;
}

.hi-lo-container {
    display: flex;
}