/* path for weather icons
https://openweathermap.org/img/wn/02d@4x.png
01d@4x - 14d#4x
01d == day/color mode
o1n == night/monotone
@4x == size (max) 
*/

:root {
    --background-color: rgb(187, 198, 211); /*rgb(250, 250, 250);*/
    --dark-text: rgb(30, 30, 30);
    --med-gray: #808080;
    --dark-gray: #343a40;

    --light-border: rgb(219, 219, 219);

    --highlight-yellow: rgb(218, 165, 32);/*goldenrod*/
    --highlight-red: rgb(220, 20, 60);/*crimson*/


    --dark-blue-txt: #42474d;
    --blue-highlight: #dfe5ec;
    --white-highlight: #f2f2f2;
    --orange-highlight: #eb6e4b;
    --minty: #cddada;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    min-width: 300px;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: var(--minty);
    color: var(--dark-text);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    color: var(--dark-blue-txt);
}

h1 {
   font-size: 7rem;
   margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0 0 .3rem 0;
    font-size: 1rem;
    color: var(--dark-blue-txt);
}

h4 {
    margin: 0 0 .3rem 0;
}

button {
    cursor: pointer;
}

#content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 3rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


/* DIVIDER BARS */
.bar{
   background: var(--dark-text); 

}

.thin {
    height: 5px;
    margin: 0 0 0 0;
}

.thicc {
    padding: 1rem 0;
    margin: 3rem 0 2rem 0;
}

.divide {
    height: 2px;
    width: 200px;
    margin: .5rem 0;
    background: var(--white-highlight);
}


/* HEADER */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.search {
    margin: 0;
    margin: 1rem 1rem 0 0;
    display: flex;
    flex-flow: row nowrap;
}

.form-input {
    background-color: var(--white-highlight);
    border: none;
    padding: .5rem;
}

.form-input:focus {
    outline: var(--background-color) auto 1px;
    outline-offset: -3px;
}

.search-btn {
    padding: .5rem;
    border: none;
    background-color: var(--orange-highlight);
    color: var(--white-highlight);
}

.search-err {
    position: absolute;
    top: .2rem;
    background-color: var(--orange-highlight);
    color: var(--dark-text);
    font-weight: 700;
    padding: .2rem .5rem;
}

.unit-container {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
}

.unit-btn {
    padding: .5rem .8rem;
    border: none;
    color: var(--dark-blue-txt);
    background-color: var(--white-highlight);
}

.unit-btn:focus {
    outline: none;
}

button span {
    padding: 0 .3rem;
}

.selected {
    font-weight: 700;
    background-color: var(--orange-highlight);
    color: var(--white-highlight);
}


/* MAIN DISPLAY */

.display {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto Slab', serif;
    overflow-wrap: break-word;
    max-width: 65%;
}

.city {
    font-size: 7rem;
    margin: 0;
}

.hero-temp {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


/* SIDE DISPLAY */

.details {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-top: 0;
    width: 35%;
}

.cap {
    font-size: 0.8rem;
    font-weight: 600;
}

.sky {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: -1rem;
}
.hi-lo-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 3.5rem 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    width: 160px;
}

.sky-icon {
    border-bottom: 5px solid var(--dark-text);
    margin: 0 0 1rem 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.weather-data{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}


/* MOBILE */
@media (min-width: 320px) and (max-width: 443px) {

    body {
        background: var(--minty);
        width: 100%;
        min-width: 320px;
    }

    #content {
        margin: 1rem 1.5rem;
    }

    header {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }

    .display {
        width: 100%;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    .container {
        justify-content: center;
        width: 100%;
    }

    .city {
        font-size: 4rem;
    }

    h1 {
        font-size: 4rem;
    }

    .hi-lo-container {
        margin: 0px auto 2rem auto;
        width: 130px;
    }

    .thin {
        margin-top: .5rem;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 0;
        width: 100%;
    }

    .sky-icon {
        width: 100%;
    }

    .weather-data {
        align-items: center;
    }

    .divide {
        width: 100%;
    }
}

/* MEDIUM SIZE */
@media (min-width: 444px) and (max-width: 1024px) {
 /* (min-width: 444px) and (max-width: 767px) */
    body {
        background: var(--minty);
        width: 100%;
        min-width: 320px;
    }

    #content {
        margin: 2rem 2.5rem;
    }

    .container {
        flex-flow: column nowrap;
    }

    header {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }

    .display {
        max-width: 100%;
    }
    
    .city {
        font-size: 8rem;
    }

    h1 {
        font-size: 8rem;
    }

    .hi-lo-container {
        margin: 0px 0px 4rem 2rem;
        width: 170px;
        font-size: 1.5rem;
    }

    .thin {
        margin: 10px 0 0 0;
    }

    .details {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 3rem 0;
        flex-flow: row nowrap;
        padding: 0;
        align-items: center;
        border: 5px solid var(--dark-text);
        
    }

    .sky-icon {
        border: none;
        margin: 0;
    }
    
    .weather-data {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        border-left: 3px solid;
        padding: 20px 2rem;
        align-items: flex-start;
    }

    .divide {
        width: 100%;
    }
}

/* LARGE DESKTOP */
@media (min-width: 1441px) {

    body {
        background: var(--minty);
        width: 100%;
        min-width: 320px;
    }

    #content {
        margin: 2rem 5rem;
    }

    header {
        width: 100%;
    }

    .thicc {
        padding: 2rem 0;
    }

    .display {
        max-width: 70%;
    }
    
    .city {
        font-size: 10rem;
    }

    h1 {
        font-size: 10rem;
    }

    .hi-lo-container {
        margin: 0 0 5.5rem 4rem;
        font-size: 1.5rem;
        width: 170px;
    }

    .thin {
        margin-top: 1rem;
    }

    .details {
        width: 30%;
    }

    .icon {
        width: 250px;
    }

    .details p {
        font-size: 1.2rem;
    }

    .cap {
        font-size: 1rem;
    }
    .divide {
        width: 250px;
    }
}